{% extends 'header.html' %}
{% load  static %}
{% block contant %}
<!DOCTYPE html>
<html lang="en">
  <head>
   
  <head>
  <body>  

    
    <!--=========== End Doctors SECTION ================-->
    <!--=========== BEGAIN Home Blog SECTION ================-->
    <section id="homeBLog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="homBlog-area">
             <!-- Start Service Title -->
              <div class="section-heading">
                <br><br><br>
                <h2>Doctor</h2>
                <div class="line"></div>
              </div> 
              <!-- Start Home Blog Content -->
              <div class="homeBlog-content">
                <div class="row">
                  <!-- Start Single Blog -->
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="single-Blog">
                      <div class="single-blog-right">
                        <div class="blog-img">
                          <figure class="blog-figure">
                           <a href="#"><img src="{{doctor_profile.doctor.profile_pic.url}}" style="width:250px; height: 300px;" alt="img"></a>
                            <span class="image-effect"></span>
                          </figure>
                        </div>
                        <div class="blog-author">
                          <ul>
                           <h4> <li>By <a href="#">Dr. {{doctor_profile.doctor.fname}}</a></li>
                            <li>In <a href="#">{{doctor_profile.doctor_speciality}}</a></li>
</h4>                          </ul>
                        </div>
                        <div class="blog-content">
                          <h2>Start time : {{doctor_profile.doctor_start_time}}</h2>
                          <h2>End time : {{doctor_profile.doctor_end_time}}</h2>
                          <h2>Fees : {{doctor_profile.doctor_fees}} .Rs</h2>

                          <div class="readmore_area">
                            <a href="{% url 'book_appointment' pk=doctor_profile.pk %}" data-hover="Book appionment "><span>Appionemnt</span></a>                
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>             
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== End Home Blog SECTION ================-->

  </body>

</html>
{% endblock %}     